                        <div class="card-bnf">
                            <div class="card-bnf-top">
                                <h4>{{ heading_title }}</h4>
                                <img src="{{ icon_thumb }}" alt="{{ heading_title }}">
                            </div>
                            {{ benefits }}
                        </div>
