{% extends 'common/column_left_right.twig' %}

{% block content %}
    <h1>{{ heading_title }}</h1>
    <div class="well">
        <h2>{{ text_phone }}</h2>
        <p>{{ description }}</p>
    </div>
{% endblock %}
